@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans|Alegreya:500i");


.bottomHeader {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 12px;
}
.Header-main-title {
  display: inline-block;
}
.Header-main-heading {
  margin: 0px 20px 50px 20px;
  text-decoration: none;
  color: black;
  font-size: 64px;
  font-family: 'Alegreya Sans', sans-serif;
}
.Link {
  text-decoration: none;
  color: black;
}
.Header-icons {
  display: inline-block;
}
.Header-icon {
  height: 75px;
  margin: 45px 16px 0px 0px;
}
.spacer {
  display: inline-block;
  width: 40%;
}
.Header-bottomHeader-spacer {
  width: 50%;
  display: inline-block;
}
