h1 {
  font-size: 48px;
}
.bottomHeader {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.Header-main-title {
  display: inline-block;
}
.Header-icons {
  display: inline-block;
}
.spacer {
  display: inline-block;
  width: 40%;
}
