.AddBookForm {
  width: 60%;
  text-align: left;
  margin-left: 35%;
  margin-top: 20px;
}

.AddBookForm-ItemTitles {
  font-size: 24px;
}

.AddBookForm-Input {
  font-size: 24px;
  width: 400px;
}

.AddBookForm-Select {
  font-size: 24px;
}
.AddBookForm-Button {
  font-size: 18px;
  padding: 10px;
  color: black;
  margin: 5px;
  background-color: rgba(200, 200, 255, .5);
}
