.FullBookDisplay {
  width: 60%;
  margin: 0 auto;
  border: 2px solid black;
}
.bookDisplayImage {
  height: 200px;
}
.PlaceHoldButton, .BorrowBookButton {
  margin: 10px;
  padding: 8px;
}
.ButtonSpacer {
  display: inline-block;
  width: 25%;
}
.DeleteBookButton {
  background-color: red;
  padding: 8px;
  margin: 10px;
}
.keywordList, .genreList {
  font-size: 12px;
  font-weight: normal;
}
