.MiniBookDisplay {
  border: 2px solid #56544d;
  display: inline-block;
  width: 30%;
  margin: 10px;
  vertical-align: top;
  height: 380px;
}

.Available {
  color: green;
}

.OnLoan, .dateAvailable {
  color: red;
}

.Link {
  text-decoration: none;
  color: black;
}
.buttonSpacer {
  width: 30%;
  display: inline-block;
}

.BorrowBookButton, .PlaceHoldButton {
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  background-color: #e2cb8a;
  border: 1px solid #56544d;
}
.MiniBookDisplayInnerContent {
  border: 1px solid #56544d;
  background-color: #ccdef9;
  height: 320px;
}
.MiniBookCover {
  height: 80px;
}
.MiniBookDisplay-AuthorList {
  font-size: 16px;
  font-weight: normal;
}
