.MiniBookDisplay {
  border: 2px solid black;
  display: inline-block;
  width: 30%;
  margin: 10px;
}

.Available {
  color: green;
}

.OnLoan, .dateAvailable {
  color: red;
}

.Link {
  text-decoration: none;
  color: black;
}
